* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Syne", sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

:root {
  --primary: #ffffff;
  --secondary: #0c1519;
}

body {
  background-image: url(images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--secondary);
  color: var(--primary);
  min-height: 100uh;
}

a {
  color: var(--primary);
}

img {
  max-width: 100%;
}

header,
footer {
  padding: 3.5rem;
}

header {
  display: flex;
  align-items: center;
}

header .logo h1,
nav ul li {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: -0.02em;
}

header nav ul li {
  font-size: 0.875rem;
  opacity: 0.56;
}

header nav ul li:nth-child(1) {
  opacity: 1;
}
